.image img{
    height: 130px;
}
.ui.card>.image>img, .ui.cards>.card>.image>img {
    display: block;
    width: 100%;
    height: 200px;
    border-radius: inherit;
}
.card {
    height: 360px;
}
.header {
    font-size: 16px!important;
}

a{text-decoration: none!important;}
.space p {
    margin-top: 31px;
}
.margin-top {
    margin-top: 30px!important;
}
body{
    font-family:'Poppins', sans-serif;
}

ul.navbar-nav.navbar-customize {
    margin-left: auto;
    
}

.navItem li a span {
    display: inline-block;
    padding: 0px 5px;
}

ul.navbar-nav.navbar-customize li a {
    text-decoration: none;
    display: inline-block;
    font-size: 13px;

    color: #f9f9f9;
    padding: 0 17px;
    transition: .4s;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}
.caption {
    position: relative;
    font-family: 'Roboto Slab', serif;
}
.caption h1 {
    color: #f74f31;
    font-weight: 900;
    font-family: 'Roboto Slab', serif;
    font-size: 44px;
    padding-bottom: 24px;
    padding-top: 70px;
}

.navbar-brand img {
    height: 32px;
}
button.carousel-control-prev {
    opacity: 0;
}
button.carousel-control-next {
    opacity: 0;
}
.navbar-nav.navbar-customize{
    text-align: center;
}
ul.navbar-nav.navbar-customize li a:hover {
   color: rgb(255, 38, 0);
   
}
span.mr-4 {
    display: inline-block;
    color: #ffffff;
    padding: 0 12px;
}
span.customize {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}
a.position {
    position: relative;
    right: 21px;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background: #c1c1c1;
    border-radius: 15px;
}



@media only screen and (max-width: 600px) {
    ul.navbar-nav.navbar-customize li a {
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        font-weight: 500;
        color: #f9f9f9;
        padding: 0 31px;
        transition: .4s;
        box-sizing: border-box;
        margin-top: 19px;
    }
  }
  
@media only screen and (max-width: 600px) {
    ul.navbar-nav.navbar-customize li a {
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        font-weight: 500;
        color: #f9f9f9;
        padding: 0 31px;
        transition: .4s;
        box-sizing: border-box;
        margin-top: 19px;
    }
  }
  
@media only screen and (max-width: 990px) {
    ul.navbar-nav.navbar-customize li a {
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        font-weight: 500;
        color: #f9f9f9;
        padding: 0 31px;
        transition: .4s;
        box-sizing: border-box;
        margin-top: 19px;
    }
  }
  
  

  a.position{position: relative;
              left: 4px;}

 nav.navbar.navbar-expand-lg.navbar-light.sticky-top {
                position: fixed;
                display: block;
                width: 100%;
                height: 100%;
            }
span.mr-4 h2 {
                font-size: 19px;
                font-family: 'Courgette', cursive;
            }